/* Estilos Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;  /* Fundo branco */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

/* Logo */
.logo {
    width: 200px;
    margin-bottom: 20px;
}

/* Estilos do formulário */
form {
    width: 100%;
    max-width: 400px;
}

/* Input containers */
.input-container {
    margin-bottom: 15px;
    text-align: left;
}

.input-container label {
    display: block;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.input-container input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

/* Botões */
.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.submit-btn {
    padding: 12px 20px;
    background-color: #e24f62;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #c74354;
}

.back-btn {
    text-decoration: none;
    color: #e24f62;
    font-size: 16px;
    border: 2px solid #e24f62;
    padding: 10px 20px;
    border-radius: 5px;
}

.back-btn:hover {
    background-color: #e24f62;
    color: white;
}
